doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/1-visao-geral/1-titulo
        include ../slides/1-visao-geral/2-apresentacao
        include ../slides/1-visao-geral/3-local-de-trabalho
        include ../slides/1-visao-geral/4-agenda
        include ../slides/1-visao-geral/5-camadas
        include ../slides/1-visao-geral/6-estrutura-projeto-ng
        include ../slides/1-visao-geral/7-tipos-de-testes
        include ../slides/1-visao-geral/8-fluxo-ic
        include ../slides/1-visao-geral/9-demo
        include ../slides/2-testes-aceitacao/1-testes-aceitacao
        include ../slides/2-testes-aceitacao/2-intr-test-na-ng
        include ../slides/2-testes-aceitacao/3-intr-regras-negocio
        include ../slides/2-testes-aceitacao/4-intr-cadastro
        include ../slides/2-testes-aceitacao/5-intr-usando-planilha
        include ../slides/2-testes-aceitacao/6-intr-usando-specflow
        include ../slides/2-testes-aceitacao/7-ferramentas
        include ../slides/2-testes-aceitacao/8-0-exemplos
        include ../slides/2-testes-aceitacao/8-projeto-piloto
        include ../slides/3-testes-interface/1-testes-interface
        include ../slides/3-testes-interface/2-intr-interface
        include ../slides/3-testes-interface/3-frameworks
        include ../slides/3-testes-interface/4-exemplo1
        include ../slides/3-testes-interface/5-elaboracao
        include ../slides/3-testes-interface/6-ambiente
        include ../slides/3-testes-interface/7-0-padrao-page-object
        include ../slides/3-testes-interface/7-1-exemplo1
        include ../slides/3-testes-interface/7-1-exemplo2
        include ../slides/3-testes-interface/7-1-exemplo3
        include ../slides/3-testes-interface/8-exemplo2
        include ../slides/3-testes-interface/9-aplicando-padrao
        include ../slides/3-testes-interface/10-projeto-piloto
        include ../slides/4-consideracoes/1-proximos-passos
        include ../slides/4-consideracoes/2-end
    include inc/scripts
