section(data-background-color="#0562dc")
    h2 Testes de Aceitação na NG
    hr
    p
        i "é um tipo de testes de integração"
        br
        i "com foco nas &nbsp;
        b(style="color: #200;") regras de negócio
        i "
