section(data-background-color="#fff")
    h2.textoAzul Regra de Negócio
    hr
    small
        p(class="fragment fade-up") Requisito -> elabora o documento com base na proposta de solução
        p(class="fragment fade-left") Desenvolvimento && Negócio -> validação
        p(class="fragment fade-right") Desenvolvimento/Tester -> elabora os cenários de testes

