section
    section(data-background-color="#fff")
        h2.textoAzul Ferramentas
        img(src="img/ferramentas-aceitacao.png" class="semBorda")
    section(data-background-color="#fff")
        h2.textoAzul Links
        hr
        small
            p Leitura da planilha: &nbsp;
                a(href="https://www.microsoft.com/en-us/download/details.aspx?id=54920" target="_blank") AccessDatabaseEngine
            p Framework p/ testes: &nbsp;
                a(href="http://nunit.org/" target="_blank") NUnit, &nbsp;
                a(href="https://xunit.github.io/" target="_blank") xUnit, &nbsp;
                a MSTest, &nbsp;
                label ...
