section(data-background-color="rgb(5, 98, 220)")
    h2 Características
    hr
    p(class="fragment fade-grow") browser
    p(class="fragment fade-grow") screenshot
    p(class="fragment fade-grow") diff
    p(class="fragment fade-grow") nUnit
    p(class="fragment fade-grow") Selenium WebDriver

