section(data-background-color="#fff")
    h2.textoAzul Elaboração
    hr
    p(class="textAzul fragment fade-grow") Teste de acesso a TODAS funcionalidades
    p(class="textAzul fragment fade-grow") Teste de CRUD básico
    p(class="textAzul fragment fade-grow") Teste de comportamento
