section(data-background-color="#fff")
    h2.textoAzul Ambiente
    hr
    p(class="textAzul fragment fade-grow") Base de dados específico
    p(class="textAzul fragment fade-grow") Scripts de automação para execução automático
    p(class="textAzul fragment fade-grow") Baseline para screenshot
    p(class="textAzul fragment fade-grow") Relatórios
