section(data-background-color="rgb(5, 98, 220)")
    div.row
        div.col
            img(src="img/google.png" class="semBorda" style="background-color:#222 !important;")
        div.col
            img(src="img/google-code1.png" class="semBorda" style="background-color:#222 !important;")
