section(data-transition="slide-in.fade-out" data-background-color="#0562dc")
    img(src="https://avatars3.githubusercontent.com/u/9970088?s=400&u=58fc70b966763aa24258f37336915f319cfa271a&v=4" height="200" width="200")
    a(href="https://github.com/willyamalmeida/training" target="_blank")
        h2 Willyam Almeida
    hr
    h5 Desenvolvedor
    a(href="https://www.lg.com.br/")
        img(src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAMAAgQIAAkAAQAAAAAAAA82AAAAJDJlYTQ4M2IzLThhYWItNDEyNi04NGU3LTg2NjkyN2EyYmVhZA.bin" height="70" width="70")
