section
    section
        h2 Agenda
        hr
        ul
            li Visão Geral
                ul
                    li Estrutura de projeto NG
                    li Tipos de testes e responsabilidades
                    li IC - Integração Contínua
    section
        h2 Agenda
        hr
        ul
            li Testes de Aceitação
                ul
                    li Introdução
                    li Ferramentas
                    li Elaborando cenário de testes
                        ul
                            li Banco de dados
                            li Execução
                    li Projeto piloto
    section
        h2 Agenda
        hr
        ul
            li Testes de Interface
                ul
                    li Introdução
                    li Framework
                    li Screenshot e comparação de imagens
                    li Padrão Page Object
                    li Ambiente de Execução
                    li Projeto piloto
